rockspec_format = "3.0"
package = "{{ project_name }}"
version = "0.1-0"
source = {
    url = "git://github.com/{{ vcs_github_path }}.git",
}
description = {
    summary = "{{ project_name }}",
    detailed = [[
        {{ project_description }}
    ]],
    homepage = "https://github.com/{{ vcs_github_path }}",
    license = "{{ copyright_license }}"
}

dependencies = {
    "lua >= 5.1",
    "busted",
}

build = {
    type = "none"
}

test = {
    type = "busted"
}

test_dependencies = {
    "busted"
}
